/dts-v1/;
/plugin/;

//#include <dt-bindings/gpio/meson-g12a-gpio.h>

/ {
	compatible = "radxa,zero", "amlogic,g12a";

    //fragment@0 {
	//	target = <&gpio>;
	//	__overlay__ {
    //        kb_pins: kb_pins {
    //            amlogic,pins = "GPIOH_8";  //GPIOH_8
    //            amlogic,pullup = <0>;  //pullup
    //            amlogic,pullupen = <0>;
    //            amlogic,enable-output=<0>; //Input
    //        };
	//	};
	//};

    fragment@0 {
        target = <&gpio_intc>;
        __overlay__ {
            status = "okay";
        };
    };

    fragment@1 {
        target = <&vcc_5v>;
        __overlay__ {
            status = "disabled";
        };
    };

    fragment@2 {
        target = <&i2c3>;
        __overlay__ {
        /* needed to avoid dtc warning */
        #address-cells = <1>;
        #size-cells = <0>;
        status = "okay";

        bbq10kbd: bbq10kbd@1f {
            compatible = "bbq10kbd";
            reg = <0x1f>;

            //pinctrl-names = "default";
            //pinctrl-0 = <&kb_pins>;

            //irq-gpio = <&gpio 451 2>; 
            interrupts = <64 8>; // high-to-low edge triggered
            interrupt-names = "bbq10kbd_irq";
            interrupt-parent = <&gpio_intc>;
            interrupt-controller;

            status = "okay";
          };
        };
    };
};
